@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --body-bg-color: hsl(47, 88%, 63%);
    --blog-border-color: hsl(0, 0%, 7%);
    --blog-bg-color: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-bg-color);
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_card{
    border: 1px solid var(--blog-border-color);
    border-radius: 1.3em;
    padding: clamp(0.75em, 1vw, 1em);
    width: 15em;
    height: 18em;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5em 0.5em  var(--blog-border-color);
    background: var(--blog-bg-color);
}

.blog_card img{
    width: 13em;
    max-height: 12em;
}

 .one{
            max-width: 28%;
           margin-block-start: 0.4em;
            padding:clamp(0.2em,0.2vw,1em);
            background:var(--body-bg-color);
            border: 1px solid var(--body-bg-color);
            border-radius: 0.3em;
            font-weight: 800;
            font-family: 'Figtree', sans-serif;
            font-size: 0.7em;
        }
        
        
        
        
        
.two{
           margin-block-start: 0.3em;
            font-family: 'Figtree',sans-serif;
            font-weight: 500;
            font-size: 0.7em;
}

       

h1{
           margin-block-start: 0.2em;
            font-family: 'Figtree', sans-serif;
            font-size: 1em;
            font-weight: 800;
}

 h1:hover, h1:active{
            color: var(--body-bg-color);
            cursor: pointer;
        }



p{
       margin-block-start: 0.3em;
        font-family: 'Figtree', sans-serif;
        font-size: 0.7em;
        font-weight: 500;
}



.info{

   margin-block-start: 0.5em;
    max-height: 7%;
    display:flex;
    align-items: center;
    gap: 0.7em;
    font-family: 'Figtree',sans-serif;
    font-weight: 800;
    font-size: 0.8em;
}

.info img{
    width: 20%;
    max-height: 6vh;
}
